.fond{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-image:url(dev3.jpg);
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
