.fond{
  background-image: url(../img/banner/inscription.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 200px;
  height: 4000px;
}
.element h4{

  color: white;
}
.element h6{
  margin-left: 2px;
  padding:8px;
  width: 260px;
  border-style: solid;
  border-radius: 5px;
  color: white;
}
.text{
  color: white;
  font-size: 15px;

}
.box{
  margin: 0 auto;
  width: 300px;
  height:650px;
}
.custum-select{
  background-color:#298AD8;
  top: 14px;
  right: 10px;
  border: 6px solid transparent;
  border-radius: 10px;
  color: white;
  outline: none;
}
.boutton{
  background-color: white;
  color: #298AD8;
  width: 100px;
  border-radius: 10px;
  outline: none;
}
